<link rel="stylesheet" href="/css/appointments.css">

<body>
    <div class="navbar"><!-- Navigation bar -->
        <div class="container">
            <nav>
                <ul>
                    <li><a href="/appointments">Appointments</a></li>
                    <li><a href="/register">New Appointments</a></li>
                    <li><a href="/logout">Log Out</a></li>
                    <!-- Add more navigation links as needed -->
                </ul>
            </nav>
        </div>
    </div>
    <div class="container row" id="background-appointments">
        <!-- Your existing content goes here -->
    </div>
    {{!-- <h1>Appointments Calendar</h1>
    <div id="calendar">
        {{#each appointments}}
            <div class="day">
                <div class="date">{{this.date}}</div>
                <!-- Update the div to an anchor tag -->
                <a href="/appointments/{{this.id}}" class="appointment">
                    {{this.time}} - {{this.first_name}} {{this.last_name}}
                </a>
            </div>
        {{/each}}
    </div> --}}
</body>

<script src="/js/appointment.js"></script>
<script>
    // Assign appointments data to a JavaScript variable
    var appointments = {{appointments}};
    console.log(appointments);
    // Pass the appointments data to the client-side js file
    processAppointments(appointments);
</script>