<link rel="stylesheet" href="/css/appointmentDetails.css">

<body>

<div class="container">
    <h2>Existing Appointment</h2>

    <form id="appointmentForm" class="form-group" data-appointment-id="{{appointment.id}}">
        <label>First Name:</label>
        <input type="text" name="first_name" value="{{appointment.first_name}}" required>

        <label>Last Name:</label>
        <input type="text" name="last_name" value="{{appointment.last_name}}" required>

        <label>D.O.B:</label>
        <input type="date" name="date_of_birth" value="{{formatDate appointment.date_of_birth}}" required>

        <label>Phone #:</label>
        <input type="text" name="phone_number" value="{{appointment.phone_number}}" required>

        <label>Date of Appointment:</label>
        <input type="date" name="date" value="{{formatDate appointment.date}}" required>

        <label>Time:</label>
        <input type="time" name="time" value="{{appointment.time}}" required>

        <label>Reason for appointment:</label>
        <textarea name="reason" required>{{appointment.reason}}</textarea>

        <div class="button-group">
        <button type="submit">Update</button>
        <button type="button" id="removeButton" data-appointment-id="{{appointment.id}}">Remove</button>
        </div>
    </form>
</div>

</body>

<script src="/js/appointmentDetails.js"></script>


